@media screen and (min-width: 800px) {
    .div-contack {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 800px) {
    .div-contack {
        display: grid;
        grid-template-columns: auto;
        text-align: center;
    }
}